// ===================================== BUTTONS ======================================================
.btn:hover, .btn:focus
  color: #ffffff !important
  background-color: #0069d9 !important
  border-color: #0062cc !important
  outline: none !important

.tweet-button
  display: flex
  justify-content: flex-end
  padding: 0.5em 0
  align-items: center
  .characters
    margin-right: 0.5em

.user-follow
  border-color: #000000
  color: #000000
  // &:hover, &:focus
  //   background-color: #000000 !important
  //   color: #ffffff !important
  //   border-color: #000000 !important

.user-unfollow
  border-color: #E31B6D
  color: #E31B6D
  &:hover, &:focus
    background-color: #E31B6D !important
    color: #ffffff !important
    border-color: #E31B6D !important

.btn.unfollow
  border: none
  top: 0
  left: 0

.btn.unfollow:hover, .btn.unfollow:focus
  background-color: crimson !important
  border: none !important

@media screen and (max-width: 700px)
  .deletebtn
    position: absolute
    right: 10% !important
    height: 10px
    width: 10px

@media screen and (max-width: 1000px) and (min-width: 700px)
  .tweet-delete
    display: unset !important
    position: static !important
  .deletebtn
    position: absolute
    right: 10% !important
    height: 12px
    width: 12px

@media screen and (max-width: 1300px) and (min-width: 1000px)
  .tweet-delete
    display: unset !important
    position: static !important
  .deletebtn
    position: absolute
    right: 10% !important
    height: 12px
    width: 12px

@media screen and (min-width: 1300px)
  .deletebtn
    right: 10% !important
    height: 12px
    width: 12px

.tweet-delete-btn-noavatar
  position: absolute
  top: 10%
  right: 3%

@media screen and (max-width: 700px)
  .tweet-delete-btn-noavatar
    height: 10px
    width: 10px

@media screen and (min-width: 700px)
  .tweet-delete-btn-noavatar
    height: 12px
    width: 12px
