// ===================================== BUTTONS ======================================================
.btn:hover, .btn:focus
  color: white !important
  background-color: #0069d9 !important
  border-color: #0062cc !important
