// ===================================== BUTTONS ======================================================
.btn:hover, .btn:focus
  color: white !important
  background-color: #0069d9 !important
  border-color: #0062cc !important

.tweet-button
  display: flex
  justify-content: flex-end
  padding: 0.5em 0
