*
  box-sizing: border-box

html
  height: 100vh
  width: 100vw

body
  height: 100vh
  width: 100vw


.wrapper-loginpage
  height: 100vh
  width: 100vw
  background-image: url("loginpage_background.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
@media screen and (max-width: 700px)
  .wrapper-loginpage
    background-size: cover
    background-position:  center 0


.loginpage
  display: flex
  position: absolute
  justify-content: center
  align-items: center
  top: 50vh
  left: 40vw
  transform: translate(-50%, -50%)
  width: 50vw
  height: fit-content
  font-family: Cinecav Sans
  a
    color: #000000
// @media screen and (max-width: 700px)
//   .loginpage
//     width: 100vw
//     height: 100vh
//     padding: 0
//     margin: 0
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     top: 50vh
//     left: 50vw
//     transform: translate(-50%, -50%)
//     position: absolute


.welcome
  flex-basis: 50%
  align-self: flex-start
@media screen and (max-width: 700px)
  .welcome
    display: none
  // .welcome
  //     display: inline-block
  //     flex-direction: column
  //     max-width: 50vw
  //     justify-content: center
  //     align-items: center
  //     flex-basis: 0
  //     align-self: center
  // .welcomemessage
  //   font-size: 1.75em
  // .welcomedescription
  //   font-size: 1em


.signin
  flex-basis: 50%
  max-width: 300px
  padding-left: 3em
  padding-top: 0
@media screen and (max-width: 700px)
  .signin
    display: none
  // .signin
  //   padding-left: 0
  //   padding-top: 1em


#login-form
  margin-bottom: 2em

#signup-form

.nonmobile
  color: #000000
  border-color: #000000
  background: #ffffff






// =========================== Mobile Layout =======================
//==================================================================
.mobileloginpage
  width: 100vw
  height: 100vh
@media screen and (min-width: 700px)
  .mobileloginpage
    display: none


.mobilelogin
  width: 70vw
  // height: 100vh
  display: flex
  flex-direction: column
  // justify-content: center
  align-items: center
  margin: 0 auto
  left: 50%
  top: 55%
  transform: translate(-50%, -50%)
  position: absolute


.mobilewelcome
  font-size: 2.2em
  padding-bottom: 0.5em
  margin: 0

.mobiledescription
  font-size: 1rem
  padding-bottom: 2em
  margin: 0
  text-align: center

.mobilebuttons
  display: inline-flex
  flex-direction: column
  justify-content: center
  align-items: center


.mobileloginbtn, .mobilesignupbtn
  display: inline-block
  margin: 0 auto 0.5em
  color: #000000
  text-decoration: none
  &:last-of-type
    margin-bottom: 0
  width: 6em
  background: #ffffff
  border-color: #000000

.sharedlinks
  width: fit-content
  height: fit-content
  display: inline-block
  padding-top: 2em
  text-decoration: none
  a
    color: aliceblue

.mobilesignup
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto

.mobilesignin, .mobile-form-inputs
  display: flex
  flex-direction: column
  align-items: center
  width: max-content
  height: fit-content

.mobile-form-actions
  display: flex
  justify-content: center
  align-items: center

.mobilesignup-wrapper.container
  max-width: 70vw
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
.mobilesignup-wrapper.container
  @media screen and (min-width: 600px)
    left: 30%
    max-width: 30vw

.mobilesignupwrapper
  width: 100vw
  height: 100vh
  background-image: url("loginpage_background.jpg")
  background-size: cover
  background-position:  center 0
  background-repeat: no-repeat

.settings-back-btn
  display: flex
  justify-content: center

@media screen and (max-width: 600px)
  // change the font-size of the headings in settings form.
  .settings
    font-size: 1.5rem
  // this will change the font-size of the placeholder inputs.
  .settings-form-inputs
    .form-control
      font-size: 0.7em
  // change font-size of buttons
  .settings-mobile-btn
    font-size: 0.7em
