@media screen and (max-width: 1000px) and (min-width: 700px)
  .mainbody
    display: flex
    flex-direction: row
    padding: 0
    margin: 0
  .left-panel, .content, .right-panel
    flex-basis: 33.33%

@media screen and (max-width: 1300px) and (min-width: 1000px)
  .mainbody
    display: flex
    flex-direction: row
    padding: 0
    margin: 0
  .left-panel, .content, .right-panel
    flex-basis: 33.33%
  .label
    font-size: 1.5em

@media screen and (min-width: 1300px)
  .mainbody
    display: flex
    flex-direction: row
    padding: 0
    margin: 0
  .left-panel, .right-panel
    flex-basis: 25%
  .content
    flex-basis: 50%
  .label
    font-size: 1.5em
