@media screen and (max-width: 600px)
  html, body, .registration.containerwrapper, .registration.container
    height: fit-content
  .registration.containerwrapper
    padding: 5em 0
  .registration.container
    position: static
    top: 0
    transform: none

@media screen and (min-width: 1300px)
  html, body, .registration.containerwrapper, .registration.container
    height: fit-content
  .registration.containerwrapper
    padding: 9em 0 5em
    margin: 0
  .registration.container
    position: static
    top: 0
    transform: none
    margin: 0
    margin-left: 15vw
